aiofiles==25.1.0
aiosqlite==0.22.1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.14.1
asgiref==3.11.1
bcrypt==3.2.0
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.5.1
click==8.4.2
fastapi==0.139.0
gunicorn==26.0.0
h11==0.16.0
httptools==0.8.0
idna==3.18
iso8601==2.1.0
Jinja2==3.1.6
Markdown==3.10.2
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mdurl==0.1.2
packaging==26.2
passlib==1.7.4
pnbp==0.9.0
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
PyJWT==2.13.0
pypika-tortoise==0.6.5
python-decouple==3.8
python-multipart==0.0.32
pytz==2026.2
requests==2.34.2
rich==15.0.0
setuptools==83.0.0
six==1.17.0
starlette==1.3.1
tortoise-orm==1.1.7
typing-inspection==0.4.2
typing_extensions==4.16.0
urllib3==2.7.0
uvicorn==0.50.2
uvicorn-worker==0.4.0
uvloop==0.22.1
wheel==0.47.0