{% extends 'shared/layout.html' %}


{% block content %}

<h1>Page doesn't exist</h1>
<p>This page could not be found (404).</p>
<p>Search for <b>{{unavailable_content}}</b> externally?</p>

<p><a href="https://duckduckgo.com/?q={{unavailable_content}}"> Duck Duck Go </a></p>
<p><a href="https://en.wikipedia.org/wiki/Special:Search?search={{unavailable_content}}"> Wikipedia </a></p>
<p><a href="https://en.wiktionary.org/wiki/Special:Search?search={{unavailable_content}}">Wikitionary</a></p>


{% endblock %}
