<!DOCTYPE html>

<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{{ assets['bootstrap-css'].url }}" rel="stylesheet" integrity="{{ assets['bootstrap-css'].integrity }}" crossorigin="anonymous">
    <!--  -->
    <link href="{{ assets['icons-css'].url }}" rel="stylesheet" integrity="{{ assets['icons-css'].integrity }}" crossorigin="anonymous">

    <!-- highlight JS CSS (Code syntax) -->
    <link rel="stylesheet" href="{{ assets['highlight-css'].url }}" integrity="{{ assets['highlight-css'].integrity }}" crossorigin="anonymous">
    
    <title>{{ TITLE }}</title>
    
  </head>

  <body>

    <!-- Navigation -->
    {% include 'shared/navbar.html' %}


    <!-- Page Content -->   
    <div class="flex-wrapper" style="padding-top: 10px;">
      <div class="container">

       {% block content %}


       {% endblock %}
     </div>
     </div>

     <!-- Footer Content -->
    <footer style="padding-top: 650px;">
      <nav class="navbar navbar-expand-sm sticky-bottom {% if darkmode %} navbar-dark bg-dark {% else %} navbar-light bg-light {% endif %}">
        <div class="container-fluid">
            {{ FOOTER | safe }}
         </div>
         </nav>
    </footer>

    <!-- JavaScript -->
    <!-- Bootstrap Bundle with Popper -->
    <script src="{{ assets['bootstrap-js'].url }}" integrity="{{ assets['bootstrap-js'].integrity }}" crossorigin="anonymous"></script>

    <!-- Mermaid JS -->
    <script src="{{ assets['mermaid-js'].url }}"
            integrity="{{ assets['mermaid-js'].integrity }}"
            crossorigin="anonymous"></script>
    {% if darkmode %}
    <script>mermaid.initialize({startOnLoad:true, maxTextSize: 100000, 'theme': '{{ merm_dark }}'});</script>
    {% else %}
    <script>mermaid.initialize({startOnLoad:true, maxTextSize: 100000, 'theme': '{{ merm_light }}'});</script>
    {% endif %}
    
    <!-- highlight JS (Code syntax) -->
    <script src="{{ assets['highlight-js'].url }}"
            integrity="{{ assets['highlight-js'].integrity }}"
            crossorigin="anonymous"></script>
    <script>hljs.highlightAll();</script>
    {% if darkmode %}
     <style>
       body {
      color: white;
      background-color: black;
       }
     </style>
    {% endif %}

  </body>

</html>
