<!DOCTYPE html>
<html lang="en" data-theme="{{ 'dark' if darkmode else 'light' }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ TITLE }}</title>
    <link href="{{ root_path }}/static/css/site.css" rel="stylesheet">
  </head>
  <body>
    <a class="skip-link" href="#main-content">Skip to content</a>
    {% include 'shared/navbar.html' %}
    <main id="main-content" class="shell page-content" tabindex="-1">
      {% block content %}{% endblock %}
    </main>
    <footer class="site-footer">
      <div class="shell">{{ FOOTER | safe }}</div>
    </footer>
    {% if diagram_mode %}
    <script defer src="{{ root_path }}/static/js/diagram-loader.js"
            data-mermaid-src="{{ assets['mermaid-js'].url }}"
            data-mermaid-integrity="{{ assets['mermaid-js'].integrity }}"
            data-mermaid-theme="{{ merm_dark if darkmode else merm_light }}"
            data-diagram-mode="{{ diagram_mode }}"></script>
    {% endif %}
    {% if code_mode %}
    <script defer src="{{ root_path }}/static/js/code-tools.js"
            data-highlight="{{ 'on' if highlight_code else 'off' }}"
            data-highlight-src="{{ assets['highlight-js'].url }}"
            data-highlight-integrity="{{ assets['highlight-js'].integrity }}"
            data-highlight-style="{{ assets['highlight-css'].url }}"
            data-highlight-style-integrity="{{ assets['highlight-css'].integrity }}"></script>
    {% endif %}
  </body>
</html>
