<nav class="navbar navbar-expand-lg {% if darkmode %} navbar-dark bg-dark {% else %} navbar-light bg-light {% endif %}">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
     {{ NAV_BRAND | safe }}
      &nbsp;|
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        {{ nav_pages | safe }}

        <li class="nav-item">
          <a class="nav-link">
            <form action="" method="POST">
              {% if darkmode %}
              <input type="submit" id="darkmode" name="darkmode" value="lightmode" />
              {% else %}
              <input type="submit" id="darkmode" name="darkmode" value="darkmode" />
              {% endif %}
            </form>
           <!-- <button type="button" class="btn btn-dark">Dark</button> -->
          </a>
        </li>
        
        <li class="nav-item">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown button
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <form action="" method="POST">
              <li><a class="dropdown-item"><input class="btn btn-primary" type="submit" id="darkmode" name="darkmode" value="lightmode" /></a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </form>
          </ul>
        </div>
      </li>


      </ul>
    </div>
  </div>
  
</nav>